[Unit]
Description = A fan manager daemon for Apple machines

After = sysinit.target syslog.target


[Service]
Type = simple

User  = root
Group = root

CPUSchedulingPolicy   = fifo
CPUSchedulingPriority = 99
LimitNOFILE           = 65536
Nice                  = -20
OOMScoreAdjust        = -1000

ExecStart  = /usr/sbin/mbpfan
ExecReload = /usr/bin/kill -HUP $MAINPID

PIDFile = /run/mbpfan.pid

Restart    = always
RestartSec = 3

TimeoutStopSec = 30


[Install]
WantedBy = sysinit.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
