[Unit]
Description = A fan manager daemon for Apple machines

After = sysinit.target syslog.target


[Service]
ExecStart  = /usr/sbin/mbpfan
ExecReload = /usr/bin/kill -HUP $MAINPID

PIDFile = /var/run/mbpfan.pid

Restart    = always
RestartSec = 3


[Install]
WantedBy = sysinit.target


# vim: set syntax=systemd filetype=systemd ts=2 sw=2 tw=0 noet :
